body {
  background-color: #efefef;
}
/* navigation bar styling */
.navbar {
  justify-content: space-evenly;
  background-color: #efefef;
}
.logo {
  background-size: contain;
  width: 200px;
  padding-left: 20px;
}
.navitem {
  font-size: 15px;
  padding: 35px 35px 35px 35px;
  border-radius: 25px;

}
.navitem:hover{
  background-color: #962F34;
  color: white;
}


/* center styling */
.center {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.col1 {
  flex-basis: auto;
  width: 65%;

}
.col2 {
  width: 35%;
}
.header1 {
  font-size: 15px;
  text-align: right;
  border-bottom: 2px solid black;
}
.header2 {
  font-size: 15px;
  text-align: right;
  border-bottom: 2px solid black;
}
.updates {
  background: #ffffff;
  border-radius: 50px;
  height: 100%;

}

/* image styling */
.cover1 {
  background-image: cover;
  width: 100%;
}

.photo-text{
  position: relative;
  border-radius: 50px;
  height: 400px;
  background-image: url("/root/_images/cover_photos/Rectangle 38.png");
  background-repeat:no-repeat;
  background-size: cover;
}


/* date box */
.info-date{
  position: absolute;
  bottom: 0;
  left: 0;
  
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 47px;
  background-color:#962F34;
  color: white;
  width:190px;
  margin-bottom: 0;
  padding: 2%;
  border-radius: 50px;
  
  


}
.announcement-text-header{
  margin-left: 10px;
}
.announcement-text{
  margin-left: 10px;
  text-align: justify;
  text-size-adjust: 100%;
}
.read-more-button{

  margin-left: 10px;
  
  
  color: #962F34;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  text-decoration: none;
}
.read-more-arrow{
  
  margin-left: 3px;
  margin-bottom: 8px;
  width: 2%;

}